<aside class="sidebar">
	<ul class="sidebar-nav">
		<li class="{{nav == '' ? 'active'}}">
			<a href="/admin/">
				<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Консоль
			</a>
		</li>
		<li class="{{nav == 'questions' ? 'active'}}">
			<a href="/admin/questions/">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Вопросы
			</a>
		</li>
		<li class="{{nav == 'categories' ? 'active'}}">
			<a href="/admin/categories/">
				<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Категории
			</a>
		</li>
		<li class="{{nav == 'users' ? 'active'}}">
			<a href="/admin/users/">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Пользователи
			</a>
		</li>
	</ul>
</aside>